<header class="site-header">
  <div class="container-fluid">
    <div class="row align-items-center">

      <div class="col-4 col-lg-2 col-xl-2">
        <a class="site-header__logo mr-auto" href="{{ site.link }}">
          <span>Small</span> Matters
        </a>
      </div>

      <div class="ml-auto col-4 col-lg-8 d-flex">
        <button class="hamburger hamburger--spring d-xl-none js-mobile-nav-trigger ml-auto" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="true/false">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        {% include 'partials/navigation-main.twig' %}
      </div>

    </div>
  </div>
</header>

<div class="mobile-nav-overlay js-mobile-nav-overlay d-none"></div>

{% include 'partials/navigation-mobile.twig' %}

