{% extends 'base.twig' %}

{% block pageContent %}

  <div class="container news-listing">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <h1 class="page-title mb-2">News</h1>
          <div class="news-posts-wrapper">
         <p>You are viewing the WordPress frontend page. This page corresponds to <a target="_blank" href="{{ gatsby_link }}">{{ gatsby_link }}</a></p>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
