<main class="content container vertical-padding">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1 class="news-single__title">{{ post.title }}</h1>
      <p>You are viewing the WordPress frontend page. This page corresponds to <a target="_blank" href="{{ gatsby_link }}">{{ gatsby_link }}</a></p>
    </div>
  </div>
</main>
