/**

Table of Contents:
---------------------
1. Colours
2. Typography

**/

// Colours
// ---------------------

$color-highlight: #91dce9;
$color-contrast: #facee1;
$color-darkmode: #121212;
$grey: #b4b4b4;

$color-purple: #7800ff;
$color-teal: #00b6c8;
$black: #171717;
$grey: #707070;

$color-list: (
  'white': #fff,
  'black': #000,
  'color-darkmode': $color-darkmode,
  'highlight': $color-highlight,
);

@each $key, $val in $color-list {
  body {
    .background--#{$key} {
      background-color: $val;
    }

    .has-#{$key}-background-color {
      background-color: $val;
    }

    .color--#{$key} {
      color: $val;
    }

    .has-#{$key}-color {
      color: $val;
    }
  }
}

// Typography
// ---------------------
