/* admin-styles.css */

/* Hide Update Notifications */

#adminmenu .update-plugins { display: none; }

/* ACF */

.acf-field.short-wysiwyg .acf-editor-wrap iframe[style] {
  height: 175px !important;
  min-height: 100px;
}

.acf-image-uploader img {
  max-width: 100%;
  height: auto;
}
