{% extends 'partials/flexible-content/component-base.twig' %}

{% block component %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9">

      <div class="basic-content text-content">
        {{ component.content }}
      </div>

    </div>
  </div>
</div>
{% endblock %}


