.theme-effect {
  transform: rotate(-363deg);
  background-color: $color-highlight;
  width: 100%;
  display: block;
  height: 100%;
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0%;
  transition: transform 0.15s ease-in;
  opacity: 0;
}

.button {
  // button styles
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  flex: 1 0 auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1rem;
  color: black;
  display: inline-block;
  line-height: 1;
  transition: all 0.2s cubic-bezier(.17,.67,.83,.67);
  text-decoration: none;
  position: relative;

  &:before {
    @extend .theme-effect;
    width: 120%;
    left: -10%;
    opacity: 1;
  }

  &:hover,
  &:active {
    text-decoration: none;
    &:before {
      transform: rotate(-180deg);
    }
  }

  &--secondary {
    // secondary

    &:hover {
      // secondary hover
    }
  }

  &--large {
    // large button styles
  }

  &--ghost {
    background: transparent;
    border-color: black;
    border-width: 2px;
    border-style: solid;

    &:hover {
      background-color: black;
      color: $color-highlight;
    }

  }

  &--huge {
    font-size: 2rem;
    box-shadow: 5px 5px 0px darken($color-highlight, 15%);
    transition: box-shadow 0.2s $cubic-bezier;

    &:hover {
      box-shadow: 1px 1px 0px lighten($color-highlight, 15%);
      color: black;
    }
  }
}

.wp-block-button {
  color: black;

  &__link {
    border-radius: 0;
    @extend .button;
  }
}
