.event-listing {
  position: relative;
  margin-bottom: 4rem;

  &__performance-type {
    position: absolute;
    right: 0%;
    top: 0%;
    background: transparentize(black, 0.5);
    color: white;
    font-size: 0.8rem;
    padding: 4px;
  }

  &__closed-captions {
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0.8;
    transition: opacity 0.2s $cubic-bezier;
  }

  &__title {
    margin: 0;
    padding: 12px;
    background-color: $color-darkmode;
    font-style: italic;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;

    @include MQ(M) {
      color: transparent;
      -webkit-text-stroke: 1.5px white;
      text-stroke: 1.5px white;
      transition: color 0.2s;
      letter-spacing: 2px;
      font-size: 2rem;

    }
  }

  &:hover {

    .event-listing__title {
      color: $color-highlight;
      -webkit-text-stroke: 1.5px $color-highlight;
      text-stroke: 1.5px $color-highlight;
      text-decoration: none;
      border: none;
    }

    .event-listing__closed-captions {
      opacity: 1;
    }
  }
}
