.hero {
  padding: 50px 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;

  @include MQ(M) {
    min-height: 600px;
    height: 60vh;
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparentize(black, 0.9);
    z-index: 1;
  }

  &__heading {
    position: relative;
    z-index: 3;
    font-style: normal;
    text-align: center;

    &--large {
      font-size: 2.75rem;
      letter-spacing: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      color: transparent;
      -webkit-text-stroke: 3px white;
      text-stroke: 3px white;
      transition: color 0.2s;

      color: $color-highlight;
      -webkit-text-stroke: 2px darken($color-highlight, 8%);
      text-stroke: 2px darken($color-highlight, 8%);
      text-shadow: 4px 4px 1px darken($color-highlight, 5%);

      @include MQ(M) {
        font-size: 10.75rem;
        letter-spacing: 3.2rem;
      }
    }
  }
}
